page-signIn {
    .signIn-image {
        // height: 70vh;
        width: auto;
        margin: auto;
        display: block;
    } 

    .icontent {
        .scroll-content {
            background-color: black;
        }
        .ilist {
            width: 30%;
            min-width: 270px;
        }
    }
}
